.row1{
    width: 100%; /*Total width defined*/
    margin-bottom: 2em;
    margin-top: 2em;
  }

  .row2{
    width: 100%;
    margin-bottom: 2em;
  }

  .row3{
    width: 100%;
    margin-bottom: 1em;
  }

  /* Header colour and padding */
header {
  background-color: #c96567;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}

.background{
    background-image: url("stars.jpg");
    height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }

  body, html {
    height: 100%;
  }

.Thinker , .Directioner , .song{
    display: inline-block;
    border: 1.5px solid red;
    padding: 4.5px 11px;
    font-size: 16px;
    cursor: pointer;
    background-color: white;
    color: black;
    font-family: 'Fredoka One', cursive;
    margin: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    width: 17%;
    margin-left: 16%;
    height: 2.5em;
    border-radius: 8px;
    transition-duration: 0.001s;
  
  }


.Dumbass,.bold,.Blind{
    display: inline-block;
  border: 1.5px solid red;
  padding: 4.5px 11px;
  font-size: 16px;
  cursor: pointer;
  background-color: white;
  color: black;
  font-family: 'Fredoka One', cursive;
  margin: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  width: 17%;
  margin-right: 9%;
  margin-left: 9%;
  height: 2.5em;
  border-radius: 8px;
  transition-duration: 0.001s;
}

.Sorry1, .Simp, .Sorry{
    display: inline-block;
  border: 1.5px solid red;
  padding: 4.5px 11px;
  font-size: 16px;
  cursor: pointer;
  background-color: white;
  color: black;
  font-family: 'Fredoka One', cursive;
  margin: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  width: 17%;
  height: 2.5em;
  margin-left: 2%;
  border-radius: 8px;
  transition-duration: 0.001s;
}

#p1{
    display: inline-block;
    border: 1.5px solid red;
    padding: 4.5px 11px;
    font-size: 16px;
    cursor: pointer;
    background-color: white;
    color: black;
    font-family: 'Fredoka One', cursive;
    margin: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    width: 25%;
    height: 70%;
    margin-right: 41.5%;
    margin-left: 38%;
    height: 2.5em;
    border-radius: 8px;
    transition-duration: 0.001s;   
}


